
:root {
  --boardBg: rgb(0, 0, 0);
  --txtColor: rgb(0, 0, 0);
  --gameSquareBg: rgb(58, 58, 58);
  --selectedSquareBg1: red;
  --selectedSquareBg2: blue;
}

* {
  box-sizing: border-box;
    /* border:1px solid red; */
  
}

body {
  background-color: rgb(1, 1, 1);;
}

.App {
  background-color: rgb(155, 54, 54);
  width: clamp(320px, 95vw, 800px);
  min-height: 100vh;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px
}
.game {
  background-color: #617c93;
    min-height: 97vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px min(47vh,95vw) 1fr 80px;
    row-gap: 0.75rem;
    padding: 0.5rem;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--boardBg);
  color: var(--txtColor);
  border-radius:10px;
  /* height: clamp(320px, 95vw, 700px); */
  width: 100%;
  border: 5px solid rgba(0, 0, 0, 0.697);
  /* z-index: -1; */
  /* gap:.25rem; */
}

.gameSquare {
  background-color: var(--gameSquareBg);
  z-index: 0;
  border: 1px solid #ffffff30;
  transition: 1.5s;
}


.gameSquare.gamepieceX {
  background-color: #93d3ff;
  box-shadow: 0px 1px 20px 23px rgb(0 0 0 / 42%) inset;
  /* border-radius: 5%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}


.gameSquare.gamepieceO {
  background-color: #92d7ff;
    box-shadow: 0px 1px 20px 13px rgb(0 0 0) inset;
    /* border-radius: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* transition: 2s; */
    transform-style: preserve-3d;
}
.ocontainer {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.xcontainer {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}
.innerO {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  border: 2px groove rgb(0 0 0);
  border-radius: 50%;
  height: 65%;
  background-color: #00000054;
  box-shadow: 0px 0px 5px 3px #ffffff, 2px 0px 13px 20px #ffffff5f inset;
}
.innerO2 {
  width: 75%;
    border-radius: 50%;
    height: 100%;
    /* background-color: #ffffff; */
    background: radial-gradient(rgba(91, 143, 215, 0),#00000000);
    border: 1px solid #000000;
    /* box-shadow: 1px 2px 14px 3px #557397, -1px -2px 29px 12px rgb(90 128 177 / 94%) inset; */
    box-shadow:  11px 0px 20px 12px #00000073;
}

.innerX {
  width: 10px;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.724);
  transform: rotateZ(45deg) rotateY(345deg);
  box-shadow: 2px 1px 9px 8px rgb(0 0 0 / 73%),
    -5px 4px 7px -1px rgb(255 255 255) inset;
}
.innerX.innerX2 {
  transform: rotateZ(-45deg) rotateY(15deg);
  box-shadow: 2px 1px 9px 8px rgb(0 0 0),
    -5px 4px 7px 0px rgb(255 255 255) inset;
}

.statisticsBoard {
  display: flex;
  justify-content: center;
  align-content: center;
  /* min-height: 200px; */
  width: 100%;
  background-color: rgba(255, 255, 255, 0.355);
  flex-wrap: wrap;
  /* padding-top: 10px; */
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
  border: 1px solid black;
  /* margin-top: 10px; */
  /* padding-bottom: 20px; */
  box-shadow: 1px 1px 10px 1px black;
}

.statisticsBoard.stats {
  /* margin-top: 20px; */
  /* min-height: 100px; */
  /* border-top: 2px solid black;
  border-bottom:2px solid black; */
  border: 1px solid black;
  box-shadow: 1px 1px 10px 1px black;
}


h2 {
  margin-top: 0px;
}
h1 {
  display: flex;
  justify-content: center;

 
}

.gameResult {
  position: absolute;
  font-size: 3rem;
   width: 1px;
  /* transition: 2s; */
  animation:fadeIn 4s cubic-bezier(0.6, -0.28, 0.74, 0.05) forwards infinite
}

@keyframes fadeIn {
  0% {
    color: rgba(255, 255, 255, 0.553);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    
  }

  50% {
    color: white;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
    transform: scale(2.1);
    
    
  }


  100% {
    color: rgba(255, 255, 255, 0.551);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    
  }
}



.Header {
  background-color: rgba(255, 255, 255, 0.43);
  /* flex-direction: column; */
  /* min-height: 100px; */
 
  border: 1px solid rgba(0, 0, 0, 0.76);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 10px; */
  box-shadow: 1px 1px 10px 1px black;
}

.menuLogo {
  /* position:relative; */
  left: -250%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid rgba(0, 0, 0, 0.606);
  border-radius: 50%;
  padding: 0.6rem;
  margin: 5px;

  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(85, 85, 85, 0.642) 0px 1px 6px 1px;
  transition: 200ms ease-in-out;
}

.menuLogo.menuLogoExpanded {
  background-color: rgba(239, 236, 236, 0.404);
  transform: rotate(180deg);
}




.menuLine {
  width: 100%;
  /* margin-top:5%; */
  height: 16%;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.482);
  
}

.popupMenu {
  /* transition: 1s; */
  /* flex-direction: column; */
  display: flex;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0);
  width: clamp(300px, 100%, 500px);
  left: 0px;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  height: 0;
}

.innerTest{

  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  width: clamp(300px, 100vw, 700px);
  background-color: rgba(0, 0, 0, 0);
  animation:menuContent 1500ms forwards
}

@keyframes menuContent{
0%{opacity: 0;}
30%{opacity:0}
100%{opacity: 1;}
}

.popupMenu.popupMenuOpen {
  color: white;
  width: clamp(300px, 100vw, 700px);
  left: 0px;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.911);
  animation: popMenu 500ms ease-in forwards;
  
}
@keyframes popMenu {
  0%{opacity: 0;}
  90%{height: clamp(550px, 70vh, 700px);box-shadow: rgba(59, 59, 59, 0.363) 0px 0px 10px 5px inset;}
  100% {height: clamp(550px, 65vh, 700px);
    box-shadow: rgba(59, 59, 59, 0.363) 0px 100% 10px 5px inset;
  }
  
}



.settingLineLeft {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 33%;
  padding-left: 18px;
}
.settingLineRight {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 66%;
}

@media screen and (orientation: landscape) {
  body {
    background-color: #000000;
  }
  .App {
    background-color: rgb(81, 81, 81);
  }
  .gameBoard {
    max-height: 100vh;
    max-width: 100vh;
  }
}